extends layout

block content
  .jumbotron.bg-faded
    .display-1(style='font-weight: bolder') About
    hr
    br
    h3 The project:
    strong MYS #{space}
    | is a project single-handedly developed by Treehouse student 
    strong Alessandro Romanelli
    | .
