extends layout

block content
  .jumbotron.my-0.py-4.text-center
    p.text-center.lead
      .row
        .col-3.mt-3
          | MYS is your new soundtrack search engine, engineered to find the soundtracks of the movie you liked so much!
        #appTitle.col-4.bg-inverse.text-primary.border.rounded.offset-1
          h1.display-1 MYS
        .col-3.mt-3.offset-1
          | It takes advantage of two powerful databases, TMDb for a infinite movie collection, and Spotify to provide the music.
      .row
        .col-4.offset-4.mt-3
          | Powered by:
          strong(style="margin-left: 10px") Spotify
          a.logo(href="https://www.spotify.com" target="_blank")
            img(src='/images/spotify.svg' width="30" height="30" style="margin-left: 5px")
          | #{space} and #{space}
          strong TMDb
          a.logo(href="https://www.themoviedb.org/" target="_blank")
            img(src='/images/tmdb.svg' width="30" height="30" style="margin-left: 5px")
        
    hr.my-4
    p#appSubtitle.display-4.bg-inverse.rounded.text-primary.py-3 Never MYS a soundtrack again!
    p
      | You can visit your profile page and review your saved songs and export them to spotify, or you can simply browse anonymously
    p.lead
      a.btn.btn-primary.btn-lg(href='/search', role='button') Start now!
