extends layout

block content
  .jumbotron.my-0.py-4.text-center
    h1.display-1 MYS
    p.text-center.lead
      | MYS is your new musical search engine, specifically designed to find all the scores played in a given movie.
    hr.my-4
    p.display-4 Never miss a record again!
    p
      | Use your profile page to view your last searches and saved songs, or just browse anonymously!
    p.lead
      a.btn.btn-primary.btn-lg(href='#', role='button') Start now!
