extends layout

block content
  .jumbotron
    .media
      if user.profilePic
        img#profilePic.d-flex.align-self-center.mr-4.rounded-circle(src=`${user.profilePic}` width="100", height="100")
      else
        img#profilePic.d-flex.align-self-center.mr-4.rounded-circle(src="/images/profile.svg" width="100", height="100")
      .media-body
        small.ml-3
          strong PROFILE PAGE
        .display-3=user.fullName
  h4 Favorite Songs:
  if user.favorites.length != 0
    table.table.table-hover
      thead
        tr
          th &#8212;
          th Song
          th Artist
          th Duration
      tbody
        each song in songs
          include ./includes/song
    if user.spotifyId
      .media
        .media-body.mt-0(style='line-height: 50px')
          a(href="/users/tracks/save")
            small.float-right.mr-2
              strong EXPORT AS PLAYLIST
        img.d-flex.align-self-center.mr-4(src='/images/playlist.svg' width="30" height="30")
    else
      small
        strong Did you know? #{space}
        | If you log in using your Spotify account you'll be able to export your favorite songs as a playlist, isn't that awesome?
  else
    .alert.alert-warning(role='alert')
      | There are no saved tracks, star any record you like and you'll be able to find them later in this page.
